.slider {
    position: relative;
    height: 100vh;
    background: url('../../img/slider/slider-bg.png') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 250px;
}

.slider__btn {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.slider__btn--prev {
    left: 13%;
    transition: scale 0.3s ease;
}

.slider__btn--prev:hover {
    scale: 1.2;
}

.slider__btn--next {
    right: 12%;
    transition: scale 0.3s ease;
}

.slider__btn--next:hover {
    scale: 1.2;
}

.slider__btn img {
    width: 30px;
    height: 30px;
}

.slider__img {
    width: 1460px;
    height: 962px;
}

.slider-content {
    max-width: 1163px;
    height: 429px;
}

.slider-content__tagline {
    width: 296px;
    height: 25px;
    margin: 0 auto;
    margin-bottom: 24px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.33em;
    text-transform: uppercase;
    color: #fbd784;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bromo-line {
    display: flex;
    justify-content: center;
}

.slider-content__title {
    width: 705px;
    height: 174px;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #fff;
}

.slider-content__subtitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    color: #fff;
    width: 934px;
    height: 96px;
    margin-top: 27px;
}

.slider-content__details {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    color: #fbd784;
    margin: 39px 41px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button__arrow-right {
    width: "24px";
    height: "16px";
    margin-left: 9px;
    transition: transform 0.3s ease;
}

.slider-content__details:hover .button__arrow-right {
    transform: translateX(5px);
}